@{
    ViewBag.Title = "Contact";
}

@section csses {
    <style>
        h6 {
            color: #D5711B;
        }

        .p-no-margin p {
            margin: 0px;
        }
    </style>
}

<div class="container">
    <div class="row mb-3">
        <img src="~/images/contactusRSN.gif" />
    </div>

    <div class="row mb-3">
        <h6>.:: Site Contact Information ::.</h6>
    </div>

    <div class="row mb-3">
        <h6>Business Owner Application :</h6>
    </div>

    <div class="row mb-3">
        <div class="col-6 p-no-margin">
            <p class="font-weight-bold">Primary Contact ::</p>
            <p>Mayuree Chaladkeb</p>
            <p>Contact No. : (+66) 3849-3561 #6645</p>
            <p>Email address : <a href="mailto:mchaladk@celestica.com" target="main">mchaladk@celestica.com</a></p>
        </div>
        <div class="col-6 p-no-margin">
            <p class="font-weight-bold">Escalation :</p>
            <p>Thanyalak Thongsiri</p>
            <p>Contact No. : (+66) 3849-3561 - 80 #6783</p>
            <p>Email address : <a href="mailto:tthanyal@celestica.com" target="main">tthanyal@celestica.com</a></p>
        </div>
    </div>

    <div class="row mb-3">
        <h6>Application Team :</h6>
    </div>

    <div class="row mb-3">
        <div class="col-6 p-no-margin">
            <p class="font-weight-bold">Primary Contact ::</p>
            <p>Mayuree Chaladkeb</p>
            <p>Email address : <a href="mailto:cth-sap-sdfico-cls@celestica.com" target="main">cth-sap-sdfico-cls@celestica.com</a></p>
        </div>
    </div>
</div>
<!-- end div.container -->